.on-sale {
    background-color: lightblue;
    font-weight: bold;
    width: 20%;
  }

  .in-stock {
    color: green;
  }

  .out-of-stock {
    color: red;
  }

  .selected {
    border: 2px solid blue;
    padding: 5px;
  }